src/interaktiv.impersonate.egg-info
*.mo
*.pyc
*.egg
*.egg-info
.coverage
.installed.cfg
dist/
share/
parts/
lib/
lib64
include/
eggs/
develop-eggs/
bin/
pyvenv.cfg
.mr.developer.cfg
node_modules/
var/
htmlcov/
coverage.xml